@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: darkcyan;
  color: white;
  font-family: "Oxygen", sans-serif !important;  
}
.nar-bar{    
  margin: 0;
  padding: 0; 
line-height: 2rem;
}
ul {
  list-style-type: none; 
  overflow: hidden;
  /* background-color: #333; */
  font-size: 14px;  
  padding: 0; 
  margin: 0;
  display: flex;
  align-items: center;  
  line-height: .5rem;
}
li {
  float: left; 
  line-height: 2.5rem;  
  
}
li a {
  display: flex;
  color: white;
  text-align: center;
  padding-top:1rem ;  
  padding-left:1rem ;
  padding-right:1rem ;  
  text-decoration: none;
  margin-left: 0;
}

li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #4CAF50;
}
.container-fluid{
  position: -webkit-sticky;
  position: sticky;
  top: 0;  
  z-index: 1;
  margin: 0; 
  background-color: #333; 
  display: flex;
  align-items: center;  
  vertical-align: middle;
} 
#title {
  margin-top: 0px;
  border-radius: none;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  background-color: red; 
  
  }

.container {
  margin: 0;
  padding: 0;
  background-color: darkcyan;
  color: white;
  border-radius: 5px;
  /* padding-left: 8px;
  padding-right: 8px; */
  margin-top: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px tomato;  
  z-index: 5;
 
}
.container h1 {
  text-align: center;
  color: white !important;
  font-size: 3.8vh;   
  font-weight: bold;  
}
.container h3 {
  padding: 5px;
  font-size: 3vh;
  text-align: center;
  color: yellow;
  font-weight: bold;
  box-shadow:3px 4px 4px rgb(89, 90, 94) 
}
.form-group {
  margin-top: 0;
  margin-bottom: 0;
}
.form-group.form-control {
  margin-top: 0;
  margin-bottom: 0;  
}
input[type=text]{
  box-shadow: 3px 4px 4px rgb(89, 90, 94)  
}
.col-3 .form-group{
    text-align: center;
}
.col-3 .form-group .form-control{
    text-align: center;
}
#th_tinhtoan {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  background-color:tomato;
  width: 100px;
  height: 50px;
  border: none;
  box-shadow: 3px 4px 4px rgb(89, 90, 94)  
}
#th_lammoi {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  background-color: tomato;
  width: 100px;
  height: 50px;
  border: none;
  box-shadow: 3px 4px 4px rgb(89, 90, 94)  
}
#th_xemkq {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  background-color: tomato;
  border: none;
  width: 100px;
  height: 50px;
  border: none;
  box-shadow: 3px 4px 4px rgb(89, 90, 94)  
}
#th_refresh {
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  background-color: tomato;
  width: 100px !important;
  height: 50px;
  border: none;
  box-shadow: 3px 4px 4px rgb(89, 90, 94)  
}
#btn_thugon{
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    /* background-color: tomato; */
    width: 100px !important;
    height: 50px;
    border: none;
    box-shadow: 3px 4px 4px rgb(89, 90, 94)  
}
#th_tinhtoan:hover {
  background-color: #e307d1;
}
#th_lammoi:hover {
  background-color: #e307d1;
}
#th_xemkq:hover {
  background-color: #e307d1;
}
#th_refresh:hover {
  background-color: #e307d1;
}
#btn_thugon:hover{
    background-color: #e307d1;
}
select{
  box-shadow: 3px 4px 4px rgb(89, 90, 94); 
  background-color: yellow !important; 
}
select:hover{
  background-color: tomato !important;  
  color: white;
}
.table_d{
    margin-top: 3px;
    margin-bottom: 3px;
}
.social-icons{
    text-align: center;
}
.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: tomato;
    color: #fff;
    border-radius: 100%;
    font-size: 1rem;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    margin-right: 0.5rem;
    box-shadow: 3px 4px 4px rgb(89, 90, 94) 
    
  }
  .social-icons .social-icon:last-child {
    margin-right: 0;
  }
  .social-icons .social-icon:hover {
    background-color: red;
  }
  #footer{
      text-align: center;
      vertical-align: middle;
  }
 